private/
private/lips/
private/Lips/
*.X360
*.xWMA
*.wmv
*.jpg
*.bin
*.xex
*.iso
*.LIVE
*.PIRS
*.CON
*.zip
__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
*.egg-info/
.venv/
*.olips
*.olp
examples/ultrastar/*.txt
tools/input.txt
tools/test_chart*.json
